.item1 {
  grid-area: header;
}
.item2 {
  grid-area: player1;
}
.item3 {
  grid-area: shagai;
}
.item4 {
  grid-area: player2;
}
.item5 {
  grid-area: footer;
}

.grid-container {
  display: grid;
  background: #333;
  gap: 1px;
  padding: 5px;
  grid-template-areas:
    "header header header"
    "player1 shagai  player2"
    "footer footer footer";
  grid-template-rows: 150px 320px 500px;
  grid-template-columns: 20% 60% 20%;
}

.grid-container div {
  background-color: #fff;
  text-align: center;
  padding: 15px 0;
  margin-right: 0px;
  font-size: 30px;
  text-align: center;
}

#mytable {
  width: 100%;
}

#tableShagai {
  margin: 100px auto;
  width: 80%;
}

#p1 {
  display: inline;
  background: red;
  font-size: larger;
  color: white;
}

#p2 {
  display: inline;
  background: red;
  font-size: larger;
  color: white;
}

.horse {
  width: 150px;
  text-align: center;
}

.flag {
  width: 60px;
}
